* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.nav-principal {
    background: cornflowerblue;
    height: 8%;
}

.nav-menu {
    float: left;
    width: 20%;
}

.icon-menu {
    width: 30px;
}

.nav-menu-links {
    display: none;
}

.nav-menu-button:checked ~ .nav-menu-links {
    display: block;
    background: cornflowerblue;
}

.nav-logo-unesp {
    float: left;
    width: 50px;
}

.nav-info {
    float: left;
    width: 20px;
}