* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Droid serif', serif;
}

body {
    width: 100%;
    height: 100%;
}

a { 
    text-decoration: none; 
}

li { 
    list-style-type: none; 
}

/* -------- MOBILE ------- */

.nav-principal {
    width: 100%;
    height: 60px;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    z-index: 2;
    background: #006686;
}

.container {
    max-width: 1024px;
} 

.nav-menu {
    width: 20%;
}

.icon-menu:hover, .icon-menu:focus {
    cursor: pointer;
}

.icon-menu {
    width: 30px;
}

.nav-menu-button:checked ~ .nav-menu-list {
    position: absolute; 
    left: 0;
}

.nav-menu-list {
    height: 100vh;
    width: 50%;
    position: absolute;
    left: -50%;
    top: 60px;
    z-index: 1;
    overflow-x: hidden;
    transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
    background: #006686;
}

.nav-menu-list__item {
    margin: 8% 5%;
}

.nav-menu-list__link {
    color: white;
}

.nav-logo-unesp {
    width: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}

.nav-info {
    width: 28px;
    position: absolute;
    right: 20px;
    top: 14px;
}

.main-banner {
    position: relative;
}

.main-banner-principal {
    margin-top: 60px;
}

.main-banner-gif {
    width: 100%;    
}

.main-title {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.main-title-h1 {
    font-family: 'Oswald' , sans-serif;
    text-align: center;
    color: #f2778f;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.main-article--abertura {
    padding: 10% 8%;
    color: #f2778f;
    position: relative;
    overflow: hidden;
}

.flor {
    position: absolute;
    float: left;
    z-index: -1;
    opacity: 0.5;
}

.flor-1 {
    width: 260px;
    left: -25%;
}

.flor-2 {
    width: 450px;
    top: 20%;
    left: -35%;
}

.flor-3 {
    width: 300px;
    bottom: 5%;
    right: -20%;
}

.flor-4 {
    width: 250px;
    bottom: -5%;
    right: -15%;
}

.abertura__title {
    font-family: 'Oswald' , sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

.abertura__text{
    margin-top: 5%;
    font-family: 'Oswald' , sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: justify;
    text-align-last: left;
    line-height: 1.5rem;
}

.abertura__title--destaque {
    margin: 5% 0;
    font-style: italic;
    text-align: justify;
    text-align-last: left;
    font-size: 0.9rem;
}

.abertura__credits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.abertura__credits-block {
    flex-grow: 1;
    margin-top: 3%;
}

.abertura__credits-title {
    font-family: 'Oswald' , sans-serif;
    font-weight: 400;
    font-size: .9rem;
    text-transform: uppercase;
    text-align: left;
}

.abertura__credits-title--right {
    text-align: right;
}

.abertura__credits-text {
    font-family: 'Oswald' , sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    text-align: left;
}

.abertura__credits-text--right {
    text-align: right;
}

.main-section {
    padding: 10% 8% 5% 8%;
}

.main-section--pink {
    background: #fff7f6;
}

.main-article__title {
    font-family: 'Oswald' , sans-serif;
    font-weight: 700;
    color: #8db0b8;
    margin-bottom: 5%;
    text-align: left;
    font-size: 1.3rem;
}

.main-article__text {
    color: #58595b;
    font-size: 0.85rem;
    margin-bottom: 6%;
    text-align: justify;
    text-align-last: left;
    line-height: 1.7rem;
}

.main-banner__trans-def {
    width: 50%;
    position: absolute;
    top: 30%;
    right: 10%;
}

.main-banner__trans-def-title {
    font-family: 'Oswald' , sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: #f2778f;
}

.main-banner__trans-def-subtitle {
    font-family: 'Oswald' , sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #8575ad;
}

.footer-credits {
    width: 100%;
    background: #58595b;
    color: white; 
    padding: 10% 8%;
}

.footer-credits__title {
    width: 70%;
    margin-bottom: 5%;   
    font-family: 'Oswald' , sans-serif;
    color: #f2778f;
    text-transform: uppercase; 
}

.footer-credist-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-credits-list {
    width: 45%;
    margin-bottom: 5%;   
    font-size: 0.8rem;
    line-height: 1rem;
}

/* --------MOBILE LARGE------ */

@media only screen and (min-width: 425px) {

    .main-title-h1 {
        font-size: 3.6rem;
    }

    .abertura__title {
        font-size: 1.5em;
    }

    .abertura__text {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .abertura__title--destaque {
        font-size: 1rem;
    }

    .abertura__credits-title {
        font-size: .9rem;
    }

    .abertura__credits-text {
        font-size: .8rem;
    }

    .abertura__credits-text {
        font-size: 0.8rem;
    }

    .main-article__title {
        font-size: 1.5em;
    }

    .main-article__text {
        font-size: 0.9rem;
    }

    .main-banner__trans-def-subtitle {
        font-size: 1.3rem;
    }

    .footer-credits__title {
        width: 50%; 
    }

/* --------TABLET------ */

@media only screen and (min-width: 768px) {

    .nav-principal {
        align-items: center;
        height: 80px;
    }

    .nav-menu-list {
        width: 35%;
        left: -35%;
    }
        
    .nav-info {
        width: 30px;
        right: 25px;
        top: 26%;
    }

    .nav-logo-unesp {
        width: 110px;
        top: 25%;
    }

    .main-title-h1 {
        font-size: 6rem;
    }

    .main-article--abertura {
        display: flex;
        flex-wrap: wrap;
        padding: 10% 18%;
    }

    .flor-1 {
        width: 300px;
        top: 2%;
        left: -15%;
    }

    .flor-2 {
        width: 450px;
        top: 15%;
        left: -10%;
    }

    .flor-3 {
        width: 360px;
        bottom: 5%;
        right: -10%;
    }

    .flor-4 {
        width: 300px;
        bottom: -5%;
        right: -7%;
    }
    
    .abertura-text {
        font-size: 1rem;
    }

    .abertura-text-block {
         flex-basis: 300px; 
         margin-right: 8%;
    }

    .abertura__credits, .abertura__credits-title--right, .abertura__credits-text--right {
        text-align: left;
    }

    .abertura__credits {
        flex-basis: 150px; 
        display: block;
    }

    .abertura__credits-block {
        margin: 0 0 7% 0;
    }
    
    .abertura__credits-title {
        font-size: 1.2rem;
    }

    .abertura__credits-text {
        font-size: 0.9rem;
    }

    .main-section {
        padding: 5% 18% 5% 18%;
    }

    .main-article__title {
        margin-top: 5%;
    }

    .main-article__text {
        margin: 3% 0;
    }

    .main-banner__trans-def {
        width: 45%;
        top: 35%;
    }

    .main-banner__trans-def-title {
        font-size: 1.1rem;
    }

    .main-banner__trans-def-subtitle {
        font-size: 2.2rem;
    }

    .footer-credits {
        display: flex;
        padding: 7% 7%;
    }

    .footer-credits__title {
        width: 25%;
        margin-right: 5%;
        font-size: 1.3rem;
    }

    .footer-credist-names {
        width: 70%;
    }

    .footer-credits-list {
        width: 30%;
    }

}

/* --------DESKTOP------ */

@media only screen and (min-width: 1024px) {

    .main-title-h1 {
        font-size: 7rem;
    }

    .abertura-text-block {
         flex-basis: 450px; 
         margin-right: 8%;
    }

    .abertura__credits-block {
        margin: 0 0 10% 0;
    }

    .main-banner__trans-def {
        width: 42%;
    }
}

@media only screen and (min-width: 1440px) {

    .nav-menu-list {
        width: 20%;
        left: -20%;
        top: 85px;
    }

    .main-title-h1 {
        font-size: 7rem;
    }

    .abertura-text-block {
         flex-basis: 640px; 
         margin-right: 8%;
    }

    .abertura__credits {
        flex-basis: 200px; 
    }

    .main-banner__trans-def {
        width: 35%;
        right: 12%;
    }

    .main-banner__trans-def-title {
        font-size: 1.7rem;
    }

    .main-banner__trans-def-subtitle {
        font-size: 3rem;
    }

}